.hamburguer {
    display: none;
    font-size: 1rem;
    background: none;
    color: black;
    cursor: pointer;
    margin-left: auto;
    border: none;
    width: 40px;
    height: 40px;
    z-index: 1001;
}

.menu {
  position: absolute;
  top: 75px;
  right: 0;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding-bottom: 5px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  padding: 0 5px 0 5px;
}

.menu ul li a:hover {
  background-color: #3B82F6;
  border-radius: 3px;
}

.menuOpen {
  animation: slideInFromRight 0.5s ease forwards;
}

.menuClose {
  animation: slideOutFromRight 0.5s ease forwards;
}

.icon {
  display: inline-block;
  transition: transform 0.8s ease-in-out;
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 2px;
  position: relative;
}

.line1Open {
  transform: translateY(8px) rotate(45deg);
}

.line2Open {
  opacity: 0;
}

.line3Open {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 500px) {
    .hamburguer {
      display: block;
    }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  50% {
    opacity: 1;
    transform: translateX(-40px);
  }
  70% {
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(-20px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes slideOutFromRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}