.hamburguer {
    display: none;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: auto;
    border: none;
}

.menu {
  position: absolute;
  top: 75px;
  right: 0;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li a {
  text-decoration: none;
}

.menuOpen {
  animation: slideInFromRight 0.5s ease forwards;
}

.menuClose {
  animation: slideOutFromRight 0.5s ease forwards;
}

.icon {
  display: inline-block;
  transition: transform 0.6s ease-in-out;
}

.rotate {
  transform: rotate(360deg);
}

@media (max-width: 500px) {
    .hamburguer {
      display: block;
    }
  }

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(20px); /* Começa fora da tela à direita */
  }
  50% {
    opacity: 1;
    transform: translateX(-40px); /* Passa um pouco do ponto final (overshoot) */
  }
  70% {
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(-20px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-5px); /* Volta para o lugar normal */
  }
}

@keyframes slideOutFromRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}