.notebookContainer {
  width: 500px;
  height: auto;
}
  
.notebookWrapper {
  position: relative;
  width: 500px;
}
  
.notebookImg {
  width: 100%;
  height: auto;
  display: block;
}
  
.notebookVideo {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%; /* comprimento do video */
  height: 75%; /* altura do video */
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  pointer-events: none;
}  
  