.menu {
    display: block;
    flex-flow: row nowrap;
    width: 100%;
    height: 9%;
    background-color: white;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.352);
}
