.menu {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    position: relative;
}


@media (max-width: 600px) {
    .links {
      display: none;
    }
  
    .hamburguer {
      display: block;
    }
  }