.menu {
    display: block;
    flex-flow: row nowrap;
    width: 100%;
    height: 60px;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.352);
    
}
